<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>V-for demo</h1>
        <ul>
            <li v-for="(todo,index) in todos" :key="todo.id">{{index}}: {{todo}}</li>
            <br>
            <li v-for="todo in todos" :key="todo.id">{{todo}}</li>
        </ul>
        <!--     for object -->
        <ul>
            <li v-for="(value,key,index) in person">
                {{key}} : {{value}}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let vue = new Vue({
            el: '#app',
            data: {
                todos: ["Learn vue", "Buy diner", "Make a todo list"],
                person: {
                    name: 'Danny',
                    age: 29,
                    gender: 'male'
                }
            }
        })
    </script>

</body>

</html>